<section class="container">

    <div class="card" (click)="toggle()" [ngClass]="{'flipped': flipped}">
        <div class="front">

            <!-- <ion-card>
        <ion-card-header color="primary">
          What is the capital city of Canada?
        </ion-card-header>
      </ion-card> -->

            <ion-text color="primary">
                <h2>{{flashCard.definition}}</h2>
            </ion-text>


        </div>
        <div class="back">
            <!-- <ion-card>
        <ion-card-header color="primary">
          Ottawa
        </ion-card-header>
      </ion-card> -->

            <ion-text color="secondary">
                <h2>{{flashCard.term}}</h2>
            </ion-text>

        </div>
    </div>


</section>
<div class="refresh" text-center>
    <button ion-button icon-start (click)="toggle()"><ion-icon name="refresh"> </ion-icon>Flip Card </button>
</div>