<section class="container">
    <div class="card" (click)="toggle()" [ngClass]="{'flipped': flipped}">
        <div class="front">

            <!-- <ion-card>
        <ion-card-header color="primary">
          What is the capital city of Canada?
        </ion-card-header>
      </ion-card> -->

            <ion-text color="primary">
                <h2>What is the capital city of Canada?</h2>
            </ion-text>


        </div>
        <div class="back">
            <!-- <ion-card>
        <ion-card-header color="primary">
          Ottawa
        </ion-card-header>
      </ion-card> -->

            <ion-text color="secondary">
                <h2>Ottawa</h2>
            </ion-text>

        </div>
    </div>
</section>