<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-text text-start>{{quiz_title}}</ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-flash-card [flashCard]="flashCard">
    </app-flash-card>
    <div class="navigation-container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <span float-left>
                            <button ion-button icon-only class="leftButton" 
                            (click)="previous()" >
                                        <ion-icon name="arrow-dropleft-circle" ></ion-icon>
                                      </button>
                            </span>
                </ion-col>
                <ion-col text-center center class="progress">
                    <span><ion-badge color="dark">{{current_index + 1}}/{{total_count}}</ion-badge></span>
                </ion-col>
                <ion-col>
                    <span float-right>
                                <button ion-button icon-only (click)="forward()">
                                <ion-icon name="arrow-dropright-circle"></ion-icon>
                            </button>
                        </span>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>
</ion-content>