<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-text text-start>{{quiz_title}}</ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-flash-card [flashCard]="flashCard">
    </app-flash-card>
    <div style="width:300px">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <span text-center center>
                                <ion-text>Progress</ion-text>
                                <ion-text>{{current_index + 1}}/{{total_count}}</ion-text>
                            </span>
                </ion-col>
                <ion-col>
                    <span text-end>
                                <button ion-button icon-only class="leftButton" 
                                (click)="previous()" >
                                            <ion-icon name="arrow-dropleft-circle" ></ion-icon>
                                          </button>
                                <button ion-button icon-only (click)="forward()">
                                <ion-icon name="arrow-dropright-circle"></ion-icon>
                            </button>
                        </span>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>
</ion-content>